.home {
  height: 100vh;
  display: grid;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  color: white;
}
.home__container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "content"
    "logo";
}
.info__conf {
  grid-area: content;
}
.astro {
  grid-area: logo;
}
.fs-2 {
  font-size: 1.2rem;
}
.btn-shadow-primary {
  box-shadow: 1px 3px 1px #619e33;
}
@media (min-width: 700px) {
  .home__container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "content logo";
  }
}
